html, body {
    height: 100%;
}

.all-buttons-container {
    padding-top: 34px;
    width: 30%;
}

.all-buttons-container .swap-button {
    box-shadow: 2px 2px 3px grey;
    width: 100%;
}

.all-buttons-container .button-container {
    align-items: baseline;
    box-shadow: 2px 2px 3px grey;
    display: flex;
    padding-top: 10px;
}

.all-buttons-container .button-container-title {
    padding-left: 10px;
    width: 35%;
}

.all-buttons-container .button-container .buttons{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.d-none {
    display: none !important;
}
